#!/bin/bash

# Traverse up parent directories.
alias ..="cd ../"
alias ...="cd ../../"

# Output the most relevent IP address.
alias ipaddress="ipconfig getifaddr en0"

# Increase the open file limit.
alias ulimitup="ulimit -n 10000"
